.title{
    text-align: center;
    margin: -1px;

}img {
    vertical-align: middle;
}
img {
    border: 0;
}
img
{
    width: 100%;

;
}
a {
    color: aqua;
    text-decoration: none;
}
a {
    background-color: #transparent;
}
header {
    background-color: #FFFFFF;
}

img {
	max-width: 480px;
	width: 100%;
	height: auto;
        display: block;
    }
