.deskNavContact a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000; /* hover over colour (before) */
    transition: 0.3s;
    font-family: "GT Sectra Display Light";
    max-width: 100%;
    font-size:1.5vw;
}
#main {
    transition: margin-right .5s;
    padding: 20px;
}
.deskNavContact{
    background-color: black;
    margin-top: -3.3vw;
    text-align: right;
    margin-right: 40px;
    max-width: 100%;
    font-size:2vw;
    font-family: "GT Sectra Display Light";
    background-color:white;
}
@media screen and (max-height: 450px) {
    .deskNavnav {padding-top: 15px;}
    .deskNav a {font-size: 18px;}
}
body{
  background-color: #FFFFFF;
}
div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 10px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    color: black;
    display: inline-block;
    text-align: center;

}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: darkred;
}
input[type=reset]:hover {
    background-color: darkred;
}

input[type=reset] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.subject{
    color: #000000;
}
.country{
    color: #000000;
}
.lname{
    color: #000000;
}
.fname {
    color: #000000;
}

.title {
    text-align: left;
    color: #000000;
    margin-left: 45px;
    font-size: 2vw;
}

.contact{
    position: absolute;
   top: 35%;
   left: 32%;
   color: #000000;
   font-size:8vw;
   font-family: "GT Sectra Display Light";
   ransform: translate(-50%, -50%);
}
.form{
    position: absolute;
   top: 35%;
   left: 43%;
   color: #000000;
   font-size:1vw;
   font-family: "GT Sectra Display Light";
   ransform: translate(-50%, -50%);
}

header{
    margin:-20px;
}
img.scroll{
  vertical-align: middle;
  border: 0;
  width: 50vw;
  height: 60vw;
  opacity: 0.7;
  margin-top: 1vw;
}
