.title{
    text-align: center;
    margin: -1px;
    max-width: 100%;
    font-size: 3vw;

}img {
     vertical-align: middle;
     border: 0;
     width: 100%;
 }

a {
    color: aqua;
    text-decoration: none;
    background-color: #transparent;
}

header {
    background-color: #FFFFFF;
}
.image{
  float: middle;
  height: 350vw;
  width: 250px;
  border-radius: 50%;
}


.deskNav{
    background-color: #000000;
    margin: auto;
}

.deskNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF; /* hover over colour (before) */
    transition: 0.3s;
    font-family: "GT Sectra Display Light";
    font-size:1.5vw;
}

.deskNavContact a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF; /* hover over colour (before) */
    transition: 0.3s;
    font-family: "GT Sectra Display Light";
    max-width: 100%;
    font-size:1.5vw;
}
#main {
    transition: margin-right .5s;
    padding: 20px;
}
.deskNavContact{
    background-color: black;
    margin-top: -3.3vw;
    text-align: right;
    margin-right: 40px;
    max-width: 100%;
    font-size:2vw;
    font-family: "GT Sectra Display Light";
}
@media screen and (max-height: 450px) {
    .deskNavnav {padding-top: 15px;}
    .deskNav a {font-size: 18px;}
}
