.title{
    text-align: center;
    margin: -1px;
    max-width: 100%;
    font-size: 3vw;

}img {
     vertical-align: middle;
     border: 0;
     width: 100%;
 }

a {
    color: aqua;
    text-decoration: none;
    background-color: #transparent;
}

header {
    background-color: #FFFFFF;
}
