.deskNavContact a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000; /* hover over colour (before) */
    transition: 0.3s;
    font-family: "GT Sectra Display Light";
    max-width: 100%;
    font-size:1.5vw;
}
#main {
    transition: margin-right .5s;
    padding: 20px;
}
.deskNavContact{
    background-color: black;
    margin-top: -3.3vw;
    text-align: right;
    margin-right: 40px;
    max-width: 100%;
    font-size:2vw;
    font-family: "GT Sectra Display Light";
    background-color:white;
}
@media screen and (max-height: 450px) {
    .deskNavnav {padding-top: 15px;}
    .deskNav a {font-size: 18px;}
}
body{
  background-color: #FFFFFF;
}
/*columns below each other instead of side by side on small screens */
.title {
    text-align: left;
    color: #000000;
    margin-left: 39px;
    max-width: 100%;
    font-size: 2vw;
    font-family: "GT Sectra Display Light";
}

header{
    margin:-20px;
}
.travels{
  position: absolute;
   top: 35%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #000000;
   font-size:10vw;
   font-family: "GT Sectra Display Light";
}
.description{
  position: absolute;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #FFFFFF;
   font-size:2.2vw;

}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-80%, -70%);

}
img.test1{
  height: 20vw;
  width: 20vw;
margin-left: -70px;

}
img.test1:hover {
  opacity: 0.3;
  filter:grayscale();
}

.test:hover .middle {
  opacity: 0.8;
}

.text {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 5px;

}
.test{
    position: relative;
    width: 50%;
}
.test1{
  transition: .3s ease;
  backface-visibility: hidden;
border-radius:50%;

}

 @media (max-width:800px) {
  .travels, .description, .test {
    width:100%;
  }
}
.col-md-4 {
  text-align: center;
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  padding-left: 7.9vw;
}
p.blog {
  text-align: center;
font-size: 1.2vw;
margin-left: -90px;

}

/*
@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
  }


  .profile {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }


.quote {
  padding: 0 16px;
}


.quote::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius:50%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #000000 ;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-family: helvetica neue;
}*/
